*{
    margin: 0;
    padding:0
}

h1{
    background-color: orange;
    text-align: center;
}



#pony{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200PX;
    width: 50%;
    background-color: blue;
    font-size: 40pt;
    border: blanchedalmond;
    border: solid;
}